.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 750px;

  .day {
    background-color: rgba($color: #000000, $alpha: 0.1);
    padding: 20px;
    display: flex;
    align-items:center;
    margin-bottom: 20px;
    justify-content: start;
  }

  .timing {
    display: flex;
    flex-direction: column;
    margin-right: 20px;

    div {
      margin-bottom: 10px;
    }

    span {
      font-weight: 700;
    }
  }

  .city_day {
    margin-right: 20px;

    span {
      font-weight: 700;
    }
  }

  @media (max-width: 700px) {

    .city_day {
      margin-right: 10px;
    }

    .timing {
      margin-right: 10px;
    }

    .day {
      padding: 5px;
    }
  }

  @media (max-width: 620px) {
    font-size: 12px;

  }
}
