header {
  display: flex;
  align-items: center;
  width: 740px;

  h2 {
    margin-right: 300px;
  }

  mat-form-field{
    margin-right: 10px;
  }

  button {
    margin-bottom: 1.34375em;
    height: 59px;
  }


}

