<header>
  <h2>MY WEATHER</h2>

  <form [formGroup]="enterCity">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Enter city name</mat-label>
        <input
        autocomplete="off"
        matInput
        placeholder="Ex. Minsk"
        (keypress)="onKeyPress($event)"
        formControlName="city"
        />
      </mat-form-field>

      <span
      class="error"
      *ngIf="city?.invalid && (city?.dirty || city?.touched) && !city?.errors?.['required']"
      >Invalid input</span>

      <button
      mat-raised-button
      (click)="onSubmit()"
      [disabled]="!(enterCity.valid && enterCity.dirty)"
      >
      Search
    </button>
  </form>
</header>


<div class="notFound" *ngIf="isError"></div>


<app-one-day-weather
  *ngIf="(!isError && currentWeather)"
  [currentWeather]="currentWeather"
  [cityName]="cityName"
></app-one-day-weather>
