header {
  display: flex;
  align-items: center;
  max-width: 750px;
  justify-content: space-between;

  form {
    display: flex;
    position: relative;
    justify-content: space-between;
    .error {
      position: absolute;
      top: 70px;
      left: 10px;
      font-size: 14px;
      color: brown;
    }
  }

  mat-form-field {
    margin: 0px;
  }

  button {
    height: 60px;
    margin: 0.25em 0;

  }
}

.notFound {
  width: 60vw;
  height: 60vh;
  background: url(../assets/not-found.jpg) no-repeat center/100%;
  margin: 20px auto;
  opacity: 0.6;
}

