
.wrapper {
  display: flex;
  max-width: 710px;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  padding: 20px;
  justify-content: space-between;
  margin: 0 auto;

  // .temp {
  //   font-size: 50px;
  // }

  // .city {
  //   font-size: 50px;
  // }

  span {
    font-size: 50px;
  }

  .icon {
    width: 100px;
  }

  .column2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .column3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    img {
      width: 60px;
    }
  }

  @media (max-width: 550px) {
    font-size: 12px;

    span {
      font-size: 30px;
    }

    .icon {
      width: 80px;
    }
  }


}

button {
  background-color: black;
  color: white;
  display: block;
  margin: 10px auto;
  height: 60px;

}

button:hover {
  color: #359cb5;
}
